<h1>Your shows</h1>

<%= render 'shared/notice' %>
<b>TO UPDATE 'LAST VERIFIED' FOR A SHOW:</b> 
<ul>
  <li>Simply click edit and save your listing to refresh the 'last verified' date.</li>
  <li>Please make any changes to the show's details if relevant.</li>
  <li>NOTE: The 'last verified' date will only update if it is 7 days old or greater.</li>

<% if @shows.size == 0 %>
You don't have any shows listed.<br><br>
<%= link_to 'list a show', new_show_path %>
<% end %>


<%= render 'shared/shows' %>

