<p style="color: red"><b>HEY YOU!</b> This map is in beta. Some shows might not appear because their address is incomplete.<br>Make sure to check other views for accurate listings.</p>
<%= gmaps4rails(@json) %>

<%= yield :scripts %>