


<%= render 'shared/notice' %>

<div class="alert alert-info"><i class="icon-info-sign"></i>
Stale Mikes requires bookers to regularly verify their show is still alive and well.  Otherwise, it fades away!</div>
<br>

<%= render 'pages/filter' %>

<div id="show-box">

<%= render 'shared/shows' %>
</div>


