


<%= render 'shared/notice' %>

<div class="alert alert-info"><i class="icon-info-sign"></i>
This site is for comedians seeking stagetime.  Anyone can help keep it up to date!</div>
<br>

<%= render 'pages/filter' %>

<% if params[:view] == 'grid' %>
  <div id="show-box">
   <%= render 'shared/shows' %>
  </div>
<% else %>
  <%= render 'shared/show_list' %>
<% end %>

