/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree . 
 *= require_self
 */

/** {
  border: 1px solid black;
}*/

body {
  margin: 0px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #efefef;
}

.container {
  padding: 10px;
}

#container .show div {
  padding: 2px;
  opacity: 0.5;
}

#shows {
}

.show-badge {
  background-color: #F0F9FF;

  padding: 10px;
  display: block;
}

.show-box {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  float: left;
}

.show-box-large {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  padding: 30px;
  margin: 10px;
  width: 460px;
  float: left;
}

.menu {
  float: right;
}

.menu li {
  display: inline;
  padding-left: 10px;
}

.show-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.show-venue {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}

.show-name-large {
  font-weight: bold;
  font-size: 26px;
  float: left;
  padding-top: 10px;
}

.social-links {
  float: right;
}

.show-venue-large {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  clear: both;
  display: block;
}

.logo {
  font-size: 34px;
  line-height: 30px;
  float: left;
  margin-top: 5px;
  color: #E6EFEE;
}

.booking-info-list {
  margin: 0px 0px 0px -24px;
}

.about {
  border: 1px solid #fff770;
  width: 90%;
  max-width: 900px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 10px;
  background-color: #fffdcc;
}

.alert {
  background-color: #f0f9ff;
  border: 1px solid #ccf3ff;
  color: #007dbc;
  padding: 10px;
}

.tagline {
  font-size: 14px;
  font-weight: normal;
}

.container {
  clear: both;
}

#header {
  background-color: #4E4E4E;
  height: 66px;
	font-size: 13px;
  color: white;
  padding: 10px;
  border-bottom: 5px solid #E6EFEE;
}

#header a {
  color: white;
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
}


.shows li a {
  color: green;
  text-decoration: none;
  font-size: 13px;
  border-bottom: 1px dotted gray;
}

.shows li {
  font-size: 13px;
  line-height: 20px;
}

.updated {
  font-size: 10px;
  color: #999;
}

.label {
  font-size: 11px;
  width: 100px;

}

.verified {
  font-size: 20px;
}

.address {
  display: block;
}

.details {
  display: block;
}

.details-large {
  width: 90%;
}

.details-small {
  width: 200px;
}

.map {
  float: right;
}

.image {
  display: block;
  width: 100%;
}

.map-large {
  display: block;
}

.image-large {
  display: block;
}

.image img {
  border: 1px solid #ccc;
  padding: 2px;
  margin-bottom: 10px;
}

.show-table {
  width: 460px;
}

.show-table-small {
  width: 300px;
}

.show-table td, th {
  padding: 5px;
  border-bottom: 1px dotted #ccc;
  vertical-align: top;
}

.show-table-small td, th {
  padding: 5px;
  border-bottom: 1px dotted #ccc;
  vertical-align: top;
}

.show-table th {
  font-size: 11px;
  text-align: left;
  font-weight: normal;
}

.show-table-small th {
  font-size: 11px;
  text-align: left;
  font-weight: normal;
}

.booking-info {
  display: block;
  width: 260px;
  text-align: center;
  padding: 0px 0px 10px 20px;
}

.button {
    text-align: center;
    text-decoration: none;
    width: 100%;
    font: bold 12px/12px Helvetica, Arial;
    padding: 8px 11px;
    color: #555;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f5f5f5;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /*  WebKit */
    background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
    border-color: #dedede #d8d8d8 #d3d3d3;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    -moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;   
}

.button:hover {
    background: #f4f4f4;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8)); /*  WebKit */
    background: -moz-linear-gradient(top,  #efefef, #f8f8f8);
    border-color: #c7c7c7 #c3c3c3 #bebebe;
    text-shadow: 0 1px 0 #fdfdfd;
    -webkit-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
}

.last-verified {
  display: block;
  clear: both;
  padding-top: 5px;
  border-top: 1px dotted #ccc;
}

div {
  word-wrap: break-word;
}

.fresh {
  float: right;
}

div.fresh-show {

}

div.shadow {
    -webkit-box-shadow: 0 5px 6px -6px #777;
     -moz-box-shadow: 0 5px 6px -6px #777;
          box-shadow: 0 5px 6px -6px #777;
}

.comments {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
  border-top: 1px dotted #ccc;
  margin-top: 10px;
}

.instructions {

  margin-bottom: 20px;
}

.edit-show {
  font-size: 20px;
}

.simple_form label {
  width: 200px;
}

.form-button {
  margin: 10px 0px 100px 100px;
}

.filepicker-image-input {
  margin-left: 110px;
  padding: 15px;
  width: 400px;
}

.btn {
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #ff9e5e;
    background-color: #ff6600;
    font-size: 22px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 0px 1px #777;
}

.show_frequency {
  display: inline-block;
}

.show_day {
  display: inline-block;

}

.show_show_type {
  display: inline-block;

}

.show_signup_time {
  display: inline;
}

#signup_time {
  display: inline;
}

.image img {
  width: 300px;
  height: 80px;
}

.selected-filter {
  background-color: red;
}

.unselected {
  display: none;
}

.metro-area, .day, .type, .view {
  float: left; 
  margin-right: 15px;
}

.filter {
  margin-bottom: 20px;
}

.field_with_errors {
  background-color: #efefef;
}

.simple_form .field_with_errors input  {
  border: 5px solid red;
}

.simple_form .field_with_errors select  {
  background-color: red;
  color: white;
}

.error {
  font-size: 0px;
}

.no-results {
  margin: 20px 0px 10px 0px;
  font-size: 18px;
  font-style: italic;
}

.notice {
  font-size: 22px;
  color: red;
  font-weight: bold;
}

.booking-info-list li {
  padding-bottom: 5px;
}

.include-end-time {
  margin-left: 200px;
}

.show-status-1  {
  display: none;
}

.show-status-2  {
  background-color: #fffcaf;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
}

.show-status-3  {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
}

.signin {
  text-decoration: underline !important;
  font-weight: bold;
  font-size: 16px;
}

.signin-text {
  font-size: 16px;
  text-align: right;
}

.small-text {
  font-size: 11px;
}

.shows-list-table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

.shows-list-table th {
  background-color: #ccc;
}

.shows-list-table td, .shows-list-table th {
  text-align: left;
  border: 1px dotted black;
  padding: 10px;
  font-size: 13px;
  vertical-align: top;
}

.show-name {
  font-weight: bold;
  font-size: 14px;
}
