<h1>List Your Show</h1>

<ul><li>Stale Mikes is for listing <b>recurring</b> shows, <b style="color: red">NOT</b> one nighters.</li>
  <li>Please only list a show if you are the organizer.</li>
  <br>

<%= render 'form' %>