<h1>List Your Show</h1>

<ul><li>Stale Mikes is for listing <b>recurring shows only</b>, not one nighters.</li>
  <li>Please only list a show if you are the organizer.</li>
  <li>
    <span style="color: red; font-weight: bold;">IMPORTANT: </span>Make sure someone else didn't already list your show.
  </li>
</ul>
<br>

<%= render 'form' %>